body{
	background: url(assets/images/new1.jpg) no-repeat;
	background-size: cover;
	font-family: Arial;
	color: black;
	height: 700px; 

}
.container{
	 
}
ul{
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.img{
	margin-top: 0px;
	margin-bottom: 0px;
	width: 1200px;

}
ul li{
	text-decoration: none;
	float: left;
	height: 50px;
    background-color: #aaffff;
    opacity: .8;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    margin-top:0px;
    width: 222px;
    padding: 0px;
}
ul li a{
	text-decoration: none;
	color: black;
	display: block;
    list-style: none;
}
ul li a:hover{
	background-color: #0099ff  ;
}
ul li ul li{
	display: none;
}
ul li:hover ul li{
	display: block;
	background-color: white;


}
.picture{
	margin: 0;
}